@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dangrek&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #8cc461;
  flex-direction: column;
  align-items: center;
}
body,
#header,
#heading,
#computerScoreBlock,
#yourScoreBlock,
#close,
#rules {
  display: flex;
}
.txt,
#computerText,
#yourText,
#computerScore,
#yourScore,
#rules-btn,
#rules,
.msg,
.pick-msg {
  font-family: "Roboto", sans-serif;
}
#buttons,
#triangle,
.game-btn,
#scissor,
#hand,
#fist-img,
#hand-img,
#scissor-img,
#rules-btn,
.nxt-btn {
  position: absolute;
}
#header {
  margin-top: 8vh;
  height: 22vh;
  width: 60vw;
  border: solid rgb(255, 255, 255);
  border-radius: 12px;
  justify-content: space-evenly;
  align-items: center;
}
#heading {
  color: #ffffff;
  height: 7em;
  width: 30vw;
  flex-direction: column;
  justify-content: space-evenly;
}
.txt {
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 4px;
}
#computerScoreBlock,
#yourScoreBlock {
  background-color: #ffffff;
  height: 7em;
  width: 12vw;
  border-radius: 8px;
  flex-direction: column;
  justify-content: space-between;
}
#computerText,
#yourText,
.pick-msg {
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  color: #656565;
  font-weight: bold;
  letter-spacing: 4px;
}
#computerScore,
#yourScore {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  color: #252525;
}
#buttons {
  top: 42vh;
  height: 310px;
  width: 550px;
  background-color: #8cc461;
}
#triangle {
  top: 14%;
  left: 26%;
  height: 68%;
  width: 52%;
}
.game-btn {
  height: 90px;
  width: 90px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.you-select-img {
  height: 50%;
  width: auto;
}
.you-select-img:hover {
  cursor: pointer;
}
#fist {
  right: 60%;
  border: solid #0074b6;
  border-width: 15px;
}
#scissor {
  right: 15%;
  border: solid #bd00ff;
  border-width: 15px;
}
#hand {
  bottom: 0px;
  right: 37%;
  border: solid #ffa943;
  border-width: 15px;
}
#fist:hover,
#scissor:hover,
#hand:hover {
  background-color: seashell;
}
#fist-img {
  left: 16%;
  top: 22%;
}
#scissor-img {
  left: 32%;
  top: 25%;
}
#hand-img {
  left: 18%;
  top: 18%;
  height: 65%;
}
#rules-btn,
.nxt-btn {
  bottom: 25px;
  right: 30px;
  height: 35px;
  width: 100px;
  border-radius: 8px;
  border: solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 4px;
}
.nxt-btn {
  display: none;
}
#rules-btn:hover {
  cursor: pointer;
  background-color: #74a350;
}
#rules-container {
  position: absolute;
  right: 30px;
  bottom: 80px;
  height: 300px;
  width: 260px;
  display: none;
}
#rules {
  position: absolute;
  bottom: 0px;
  height: 275px;
  width: 232px;
  background-color: #004429;
  color: #ffffff;
  border-radius: 10px;
  border: solid #ffffff;
  border-width: 6px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#rules-heading {
  font-size: 24px;
  padding-top: 10px;
}
#rules-list {
  height: auto;
  width: 80%;
  font-weight: 300;
  padding-left: 10px;
  padding-bottom: 10px;
}
ul {
  list-style-type: square;
  font-size: 16px;
}
li {
  margin-top: 10px;
  color: #ffd600;
}
li p {
  color: #ffffff;
  font-size: 11.5px;
}
#close {
  position: absolute;
  right: 0px;
  height: 35px;
  width: 35px;
  align-items: center;
  justify-content: center;
  background-color: #ff0000;
  border-radius: 50%;
  border: solid #ffffff;
  border-width: 5px;
  font-family: "Dangrek", sans-serif;
  font-size: 24px;
  color: #ffffff;
}
#close:hover {
  cursor: pointer;
  background-color: #4e1919;
}

.result-container {
  position: absolute;
  bottom: 23%;
  height: 20vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  display: none;
}
.msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  letter-spacing: 2px;
}
#win-text {
  font-size: 28px;
  margin-bottom: 5px;
}
.play-button {
  height: 30px;
  width: 120px;
  border-radius: 8px;
  border: solid white;
  color: #6b6b6b;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}
.play-button:hover {
  cursor: pointer;
}

.yourChoice {
  left: 0%;
  top: 20%;
}
.pc-hand {
  height: 128px;
  width: 128px;
  position: absolute;
  right: 0%;
  top: 20%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  display: none;
}
#hand-pc {
  border: solid #ffa943;
  border-width: 15px;
}
#scissor-pc {
  border: solid #bd00ff;
  border-width: 15px;
}
#fist-pc {
  border: solid #0074b6;
  border-width: 15px;
}
.pc-select-img {
  height: 65px;
  width: auto;
}
.pick-msg {
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 14px;
}
.pick-msg {
  display: none;
}
#youpick-txt {
  position: absolute;
  left: 6%;
}
#pcpick-txt {
  position: absolute;
  right: 7%;
}
.win-eff{
    position: absolute;
    height: 90%;
    width: 50%;
    right: 60.5%;
    background-color: #66b248;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.circle{
    position: absolute;
    height: 85%;
    width: 85%;
    background-color: #32a62f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.innerCircle{
    position: absolute;
    height: 80%;
    width: 80%;
    background-color: #289a27;
    border-radius: 50%;
}